<div style="text-align: center;">
<h2>Product Details</h2>
<div class="row">
    <img [src]="product.imageUrl" width="400px" height="400px">
</div>
<div class="row col-md-12">
    <p>{{product.productName}}</p>
</div>
<div class="row col-md-12">
    <p>${{product.price}}</p>
</div>
<div class="row col-md-12">
    <p>{{product.descrption}}</p>
</div>
<div class="row col-md-12">
    <p>{{product.category}}</p>
</div>
<div class="row col-md-12">
    <button type="button" class="btn btn-primary" (click) = "onEditSelect()">Edit</button>
    <button type="button" class="btn btn-danger" (click) = "onDeleteSelect()">Delete</button>
</div>
<div class="row col-md-12" style="padding-top: 10px;">
    <button type="button" class="btn btn-primary">Cart</button>
    <button type="button" class="btn btn-success">Order</button>
</div>
</div>


